[2018-01-02 18:48] christian-bromann opened #6 "port touchAction command"
See implementation details here:
https://github.com/webdriverio/webdriverio/blob/master/lib/commands/touchAction.js

[2018-01-09 14:04] fijijavis opened #9 "Port ErrorHandler"
*** Note ***
Update waitUntil with specific error types when ErrorHandler is implemented

[2018-01-09 14:05] christian-bromann commented on #9
I would suggest having a dedicated package for this as well like `wdio-error`

[2018-01-10 00:27] fijijavis commented on #9
Makes Sense

[2018-02-12 12:34] fijijavis opened #11 "Create wdio-driver"
A package for local test execution to download, install and start browser drivers.

* Read capabilities from wdio.conf
* Check to see if browser drivers exist in PATH (https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/firefox.js#L409-L417)
    * If yes, start driver
    * If no, download then start driver
* Consumed by launcher.js > run method https://github.com

[2018-02-12 12:34] fijijavis commented on #11
having a main driver class that has all the utility functions like findInPath etc and for each driver an own driver class that gets exported from the module

[2018-02-12 12:38] christian-bromann commented on #11
@fijijavis let's allow people to specify the driver version in the config file.

[2018-02-12 15:49] christian-bromann commented on #11
Also let's create the interface in a way that it can be consumed by an arbitrary package (not only wdio).

[2018-03-06 14:42] christian-bromann opened #12 "Create NPM command to generate new sub package"
Sub-packages require a certain setup to be consistent across the project. To ensure this, let's have a script that uses [`inquirer`](https://www.npmjs.com/package/inquirer) to ask question regarding type of sub package (core, helper, reporter, runner or service) and name etc.

[2018-03-06 14:43] christian-bromann opened #13 "Port missing sub packages"
There are a couple of sub packages that haven't been moved to this repo yet. It is not required to move it completely including code and tests but a start would be to have them bootstrapped into this repo.

If you want to move the whole package, create a new issue so everyone is aware that this is taken care of

[2018-03-08 08:47] christian-bromann opened #14 "Port the wdio-allure-reporter package"
Let's port the wdio-allure-reporter package and adapt it to the new reporter API

[2018-03-10 10:56] fijijavis commented on #11
@christian-bromann started digging into this today.  It feels a lot like a recreation of [wdio-selenium-standalone-service](https://github.com/webdriverio/wdio-selenium-standalone-service).  Any reason why we wouldn't just port that over?

[2018-03-10 11:09] fijijavis opened #15 "Port the wdio-mochawesome-reporter"
Port the wdio-mochawesome-reporter

- [ ] adapt to new reporter API
- [ ] adapt to latest version of mochawesome-report-generator

[2018-03-10 11:11] fijijavis commented on #15
@christian-bromann Apparently I can't assign this to myself.  Could you give me a hand?

[2018-03-10 15:11] christian-bromann commented on #11
wdio-selenium-standalone-service and doesn't allow us to use it programatically within the wdio-runner package. Ultimiatively it would be awesome if the browser driver component could be abstracted away from the enduser so he doesn't need to care about that stuff anymore. I have no strong opinion of keeping it as a service or integrating it into the wdio-runner package. I would love to see support

[2018-03-10 15:48] christian-bromann opened #16 "Add JsonWireProtocol to webdriver package"
## The problem

We want to still support the old json wire protocol since it is still supported by some browser drivers (chromedriver) as well as Appium and some commands are still important (e.g. log command).

## Task

Add the json wire protocol to the webdriver package by adding a new protocol description as json file similar to the already supported protocols. You can find the protocol definit

[2018-03-10 15:52] christian-bromann opened #17 "Port all selectBy* commands"
## The Task

Port command:

- [ ] selectByAttribute
- [ ] selectByIndex
- [ ] selectByValue
- [ ] selectByVisibleText

to the [element scope](https://github.com/webdriverio/v5/tree/master/packages/webdriverio/src/commands/element). Add unit tests (similar to [these tests](https://github.com/webdriverio/v5/blob/master/packages/webdriverio/tests/commands.test.js#L151-L154) to ensure the right reques

[2018-03-10 15:55] christian-bromann opened #18 "Port cookie commands"
## The task

Port the following cookie commands:

- [ ] deleteCookies
- [ ] getCookies
- [ ] setCookies

to the [browser scope](https://github.com/webdriverio/v5/tree/master/packages/webdriverio/src/commands/browser). Add unit tests (similar to [these tests](https://github.com/webdriverio/v5/blob/master/packages/webdriverio/tests/commands.test.js#L151-L154)) to ensure the correct requests have bee

[2018-03-10 15:59] christian-bromann opened #19 "Port state commands"
## The task

Port the following state commands:

- [ ] hasFocus (to be renamed to `isFocused`)
- [ ] isEnabled
- [ ] isExisting
- [ ] isSelected
- [ ] isVisible
- [ ] isVisibleWithinViewport

to the element scope. Add unit tests (similar to [these](https://github.com/webdriverio/v5/blob/master/packages/webdriverio/tests/commands.test.js#L151-L154)) to ensure the right requests are send to the brow

[2018-03-10 16:08] christian-bromann opened #20 "Port debug command"
## The task

The [debug command](https://github.com/webdriverio/webdriverio/blob/master/lib/commands/debug.js) is an important command to have an interactive way to fire webdriver commands. We should port this command to the [browser scope](https://github.com/webdriverio/v5/tree/master/packages/webdriverio/src/commands/browser). Add unit tests.

[2018-03-10 16:38] christian-bromann opened #21 "Implement "Element is not clickable" autofix"
## The problem

Sometimes commands on elements like (click) can't be executed due to the "Element is not clickable at xy" exception. Let's implement a couple of workarounds (explained in [this great SO post](https://stackoverflow.com/a/44916498/765174)) as part of the [element handler error middleware](https://github.com/webdriverio/v5/blob/master/packages/webdriverio/src/middlewares.js#L17) to pr

[2018-03-10 17:47] christian-bromann opened #22 "Replace validateConfig method with jest-validate package"
## The problem

We currently have an [own implementation](https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/utils.js#L76) to validate the config that the user is applying to the WebdriverIO session. Let's use [jest-validate](https://www.npmjs.com/package/jest-validate) for this as it is general enough, a well maintained 3rd party tool and does what we want.

This will require

[2018-03-10 17:50] erwinheitzman commented on #18
Although this would probably be a breaking change we could perhaps change these to:
deleteCookies <array|string>(if no parameter is passed all cookies will be deleted)
getCookies <array|string>(if no parameter is passed all cookies will be returned, )
setCookies <array|object>

[2018-03-10 18:32] christian-bromann commented on #18
Good idea, I prefer to have less commands that do more, so we would have:

[code]
the same would work for `deleteCookies`. For `setCookies` it would be
[code]
Right?

This is not a problem, the advantage of making a major version change is to be able to rip everything apart 😉

[2018-03-10 18:35] christian-bromann opened #23 "Port window commands"
## The task

Create a new scope type for windows that allows to easily switch between window handles and frames.

[2018-03-10 21:10] erwinheitzman commented on #18
Yes that is indeed what I had in mind, great to hear we are able to do this now ;)

@christian-bromann can I reach out to you on gitter for some pointers on how you'd like to have this implemented? As i would love to try and implement this :)

[2018-03-10 22:08] christian-bromann commented on #18
absolutely, let's do it here or on Gitter on the v5 (dev) channel

[2018-03-11 03:04] fijijavis opened #24 "Fix Failing Unit Tests"
Need to fix all failing unit tests so that contributors will have confidence in changes they make.

[2018-03-11 03:09] WillBrock opened #25 "Port the wdio-spec-reporter package"
Port the wdio-spec-reporter package and adapt it to the new reporter API.

[2018-03-11 03:58] fijijavis opened #27 "Fix failing unit test coverage areas"
Jest is reporting several areas are failing proper unit test coverage.  We need to improve coverage so we have a higher confidence level in the quality of the code.

[2018-03-11 08:12] andriilazebnyi opened #28 "Port the wdio-testingbot-service package"
Port the `wdio-testingbot-service` package.

[2018-03-11 08:14] andriilazebnyi commented on #28
@christian-bromann I can't set a label and assign this issue to myself. Could you please help?

[2018-03-11 09:46] christian-bromann opened #29 "]"
## The problem

We want to be able to auto generate the API documentation for every version that we release of the webdriver and webdriverio package. I had a good experience using [wddoc](https://www.npmjs.com/package/wddoc) that was transpiling the comments of each command file into a markdown file. We should do something similar too. However the structure of the packages have changed and needs s

[2018-03-11 19:12] andriilazebnyi opened #30 "Use prettier for the V5 codebase?"
As Wdio involves different contributors, I suggest we use https://github.com/prettier/prettier to keep its codebase always formatted in the same way.

@christian-bromann what do you think?

[2018-03-11 21:53] christian-bromann commented on #30
mhm .. in general I like the idea of a consisting coding style. However I don't see this as a problem right now. I want to keep the dev process easy and simple in the beginning to get people involved and building up velocity. We can definitely consider this in the future.

[2018-03-11 21:53] #30 closed

[2018-03-11 21:54] christian-bromann commented on #24
This was fixed by #26

[2018-03-11 21:54] #24 closed

[2018-03-12 23:27] tborys commented on #22
@christian-bromann I will start looking into this to get familiar with the project.  Is there a way I can move tasks by myself in 'Projects' ? Never used that functionality before, so not sure if special access rights are needed :)

[2018-03-13 00:29] christian-bromann commented on #22
Yes they are needed, just invited you. Thanks for helping out 👍

[2018-03-14 01:07] fijijavis opened #33 "Split Unit Tests Into Separate Files"
Decompose the unit test files so there is a 1:1 match with an actual code file. Ex: waitForExist.spec.js would only contain tests for waitForExist.js.

This will provide easier long term maintenance and help reduce the barrier for new contributors

[2018-03-14 12:23] christian-bromann opened #37 "Increase test coverage"
## The problem

In order to avoid regression when adding new features we want to make sure that every code piece is properly unit tested. There are a couple areas where the test coverage is lacking. Let's fix this by adding unit tests for it. Goal is it to have ~95% test coverage across all projects.

[2018-03-14 12:31] #33 closed

[2018-03-15 14:52] codecov-io commented on #16
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/16?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/16/graphs/tree.svg?width=650&token=VJBw9IYlWC&height=150&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/16?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/16?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-03-16 03:11] kmnaid commented on #19
@christian-bromann: The link to unit tests above gives a 404.

[2018-03-16 03:21] fijijavis commented on #19
@kmnaid I recently refactored the unit tests into their own files.  You can find them [here](https://github.com/webdriverio/v5/tree/master/packages/webdriverio/tests/commands/element)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-16 20:57] webOS101 commented on #29
I have had some good success working with documentationjs to produce json output for our project.  i haven't checked out wddoc yet, though.

[2018-03-17 17:37] christian-bromann commented on #27
Unit tests are fixed and increasing code coverage will be tackled with #37

[2018-03-17 17:37] #27 closed

[2018-03-19 10:12] christian-bromann opened #41 "Log management"
Many people have issues getting the right logs when filing an issue. It is also not clear how to receive individual logs as files. This should change with v5. I would like that the testrunner creates log files for:

- wdio logs
- reporter logs
- driver logs

The testrunner itself should stay minimalistic (similar to jest) and should only print the errors and show how many files to run and which fi

[2018-03-19 12:15] codecov-io commented on #41
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/41?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/41/graphs/tree.svg?src=pr&token=VJBw9IYlWC&width=650&height=150)](https://codecov.io/gh/webdriverio/v5/pull/41?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/41?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-03-19 13:01] christian-bromann opened #42 "Implement test runner interface"
Every test runner has an interface showing the current state of test execution. As oppose to v4 where all reporters printed to the stdout stream, the reporter in v5 all push their logs to a file. That allows us to keep the interface simple and minimalistic. My suggestion would be something along these lines:

[code]

Any other suggestions?

[2018-03-19 16:05] christian-bromann opened #43 "Sanitize error stack"
## The problem

Stack traces are usually filled with lines that neither belong to WebdriverIO nor to the test spec. Let's make sure we clean the stack trace to only include traces from the test spec and within WebdriverIO.

[2018-03-20 09:53] christian-bromann opened #44 "Add native support for shadow DOM"
Currently browser driver still have issues fetching shadow DOM elements. Support for this can enabled by a custom element call as implemented in [this plugin](https://github.com/Morlack/wdio-webcomponents). Let's bring this functionality into v5 as native support until drivers do fully support it.

[2018-03-20 20:37] andriilazebnyi commented on #12
@christian-bromann I would like to pick this one.

[2018-03-21 10:15] christian-bromann commented on #12
@andriilazebnyi awesome. So basically I wanted an easy way to generate a new package. Even though I said, let's use unquirer I guess it is sufficient enough to have a command like:

[code]

It then generates all boilerplate files (similar to the [xml reporter](https://github.com/webdriverio/v5/tree/master/packages/wdio-xml-reporter) right now) + a test directory with an example test. You can put t

[2018-03-21 15:52] andriilazebnyi commented on #12
@christian-bromann Sounds good. Can you please assign this task to me as I don't have such permissions?

[2018-03-22 10:33] christian-bromann commented on #12
Implemented by #45

[2018-03-22 10:33] #12 closed

[2018-03-22 10:34] christian-bromann commented on #28
Done by #39

[2018-03-22 10:34] #28 closed

[2018-03-23 09:13] erwinheitzman commented on #19
I'd like to port these could someone assign me to the task? ;)

[2018-03-23 09:15] erwinheitzman commented on #18
Is there a nice way to couple the PR's to the issues? Just opened a PR for this issue: https://github.com/webdriverio/v5/pull/47

[2018-03-23 09:17] erwinheitzman commented on #37
I'd like to take this task.

[2018-03-23 09:29] christian-bromann commented on #19
go for it @erwinheitzman

[2018-03-23 09:30] christian-bromann commented on #18
@erwinheitzman I use [hub](https://github.com/github/hub) for this.

[2018-03-23 09:30] #18 closed

[2018-03-25 16:17] wolfoo2931 commented on #44
Would appreciate that, currently using a hacky solution ... https://twitter.com/WolfOliver/status/977941851327123457

[2018-03-25 16:27] christian-bromann commented on #44
@wolfoo2931 feel free to propose a PR, for me this a low priority.

[2018-03-25 22:14] kmnaid commented on #20
I will tackle this.

[2018-03-26 19:46] BorisOsipov commented on #14
Hi @TuHuynhVan

If you will need help with old allure reporter feel free to ask me here or on gitter. I will be glad to help you.

[2018-03-26 23:03] christian-bromann opened #48 "Figure out release process"
## The problem

We have a lot of packages that want to get released. We should have an easy and straightforward way to do so.

__AC:__
- figure out how to release individual packages with Lerna
- the process should ensure that the package is compiled and pushed properly
- write a script if necessary
- it should be as simple as running `npm run release wdio-cli` or `npm run release:minor wdio-cli`

[2018-03-27 07:58] TuHuynhVan commented on #14
Thanks @BorisOsipov . Sure!

[2018-03-27 11:36] christian-bromann commented on #42
Current state:
![i](https://user-images.githubusercontent.com/731337/37965003-cfac1936-31c3-11e8-9dc4-3451cfeb5f4a.gif)

Now missing:
- error reporting for local runner
- tests

[2018-03-27 19:00] seadb commented on #21
I will be sew happy when this is implemented :)

[2018-03-27 19:42] christian-bromann commented on #21
👏 nice, let me know if you have any questions on this

[2018-03-31 15:41] codecov-io commented on #42
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/42?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/42/graphs/tree.svg?width=650&height=150&src=pr&token=VJBw9IYlWC)](https://codecov.io/gh/webdriverio/v5/pull/42?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/42?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-03 20:33] thephilwells commented on #21
Is this issue claimed? I'd like to give it a shot if I may.

[2018-04-03 23:53] christian-bromann commented on #21
@seadb any progress on this? Or can @thephilwells take over?

[2018-04-04 09:18] christian-bromann commented on #42
Thanks @erwinheitzman , I tweaked a couple of things based on your suggestions. This clinterface is definitely not perfect yet but does it's job so that we can move forward with other things.

[2018-04-04 09:32] christian-bromann commented on #15
@fijijavis any updates?

[2018-04-04 09:32] christian-bromann commented on #14
@TuHuynhVan any updates?

[2018-04-04 09:33] christian-bromann commented on #6
@wswebcreation any updates?

[2018-04-04 09:39] christian-bromann opened #50 "Implement repl functionality"
The repl command of the `wdio-cli` package is an important tool to spin up a browser session within the terminal to debug things quickly. Please see `/packages/wdio-cli/src/commands/repl.js` for details. Ensure that all commands are run synchronously if the user has wdio-sync installed.

[2018-04-04 13:24] codecov-io commented on #23
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/23?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/23/graphs/tree.svg?token=VJBw9IYlWC&src=pr&width=650&height=150)](https://codecov.io/gh/webdriverio/v5/pull/23?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/23?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-04 14:57] erwinheitzman opened #51 "Add generic error that can be used when invalid / unsupported params are passed"
## The problem

Currently multiple methods seem to use different error messages when it comes to invalid / unsupported parameters that are passed.
Let's introduce a generic error that can be used when invalid / unsupported are passed instead so that the error is always the same and logical.

Example:
`export const InputError = new Error('InputError, invalid input: number or type of arguments does

[2018-04-05 09:18] christian-bromann commented on #50
blocked on #49

[2018-04-05 23:32] fijijavis commented on #15
@christian-bromann I haven’t had any time to look at v5 stuff lately.  Really busy at work...I’m transitioning to a new team and in the process of relocating from Cincinnati to Portland.  Probably at least one more week before I’ll have time

[2018-04-07 11:42] #17 closed

[2018-04-07 14:33] andriilazebnyi opened #52 "Port the wdio-sauce-service"
## The problem

Port the wdio-sauce-service.

[2018-04-08 11:45] #52 closed

[2018-04-10 09:49] christian-bromann commented on #50
@webdriverio/project-committers could someone please review? Thanks!

[2018-04-10 09:53] christian-bromann commented on #20
Included in #50

[2018-04-10 09:53] #20 closed

[2018-04-10 09:56] codecov-io commented on #50
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/50?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/50/graphs/tree.svg?src=pr&token=VJBw9IYlWC&width=650&height=150)](https://codecov.io/gh/webdriverio/v5/pull/50?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/50?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-10 09:56] christian-bromann opened #54 "Port wdio-devtools-service"
## Problem

Let's port the wdio-devtools-service so people can use the devtools protocol while testing on Chrome.

[2018-04-10 10:57] andriilazebnyi commented on #50
Looks good for me.

[2018-04-10 11:51] codecov-io commented on #54
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/54?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/54/graphs/tree.svg?height=150&width=650&token=VJBw9IYlWC&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/54?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/54?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-11 10:16] #25 closed

[2018-04-15 05:41] kmnaid commented on #51
What would the location of 'errors' file be?

[2018-04-16 10:19] christian-bromann commented on #51
@kmnaid since this is something that could possibly be consumed by all packages I thought we could just create a `wdio-utils` package containing these files.

[2018-04-16 15:51] ThomasFett opened #58 "Port firefox profile service"
The `wdio-firefox-profile-service` package (https://github.com/webdriverio/wdio-firefox-profile-service) needs to be ported to `v5`.

[2018-04-16 19:06] andriilazebnyi opened #59 "Port wdio-concise-reporter"
## The problem

Port wdio-concise-reporter

[2018-04-17 10:03] christian-bromann opened #60 "Port wdio-sumologic-reporter"
Port https://github.com/webdriverio/wdio-sumologic-reporter

[2018-04-17 11:50] codecov-io commented on #60
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/60?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/60/graphs/tree.svg?src=pr&token=VJBw9IYlWC&width=650&height=150)](https://codecov.io/gh/webdriverio/v5/pull/60?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/60?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-17 15:30] christian-bromann opened #61 "Port wdio-jasmine-adapter"
## The problem

Let's port https://github.com/webdriverio/wdio-jasmine-framework

[2018-04-20 09:43] christian-bromann commented on #19
This task is almost done, will cover the rest.

[2018-04-20 10:52] codecov-io commented on #19
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/19?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/19/graphs/tree.svg?src=pr&width=650&token=VJBw9IYlWC&height=150)](https://codecov.io/gh/webdriverio/v5/pull/19?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/19?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-04-24 09:54] christian-bromann commented on #51
duplicate of #9 .. let's continue conversation there

[2018-04-24 09:54] #51 closed

[2018-04-24 11:46] andriilazebnyi commented on #19
Added couple comments. Otherwise looks good for me.

[2018-04-24 11:59] christian-bromann commented on #19
Thanks @andriilazebnyi @erwinheitzman

[2018-04-24 19:28] BorisOsipov opened #63 "GOVERNANCE.md changes"
## The problem

Webdriverio v5 is going to be monorepo project. It will require appropriate changes in [GOVERNANCE.md](https://github.com/webdriverio/v5/blob/master/GOVERNANCE.md#project-committers) document to handle PR\issues.

e.g.:

[2018-04-24 19:30] BorisOsipov commented on #63
just to don't forget.

[2018-05-08 09:11] christian-bromann commented on #9
One reason why we need this package after all is that we have to make sure that we provide useful error messages especially when using the new W3C WebDriver protocol. Example use case: someone tries to use an selector strategy that is not supported.

[2018-05-08 10:26] christian-bromann opened #65 "Port addValue and submit command"
Let's port some input and form related functionality.

[2018-05-08 11:55] codecov-io commented on #65
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/65?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/65/graphs/tree.svg?src=pr&width=650&token=VJBw9IYlWC&height=150)](https://codecov.io/gh/webdriverio/v5/pull/65?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/65?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-05-08 13:12] christian-bromann opened #66 "Validate capabilities"
The W3C protocol only accepts certain type of capabilities and throws an error if these are not existing or unknown are added. Let's make sure we handle this gracefully.

[2018-05-14 07:34] christian-bromann opened #67 "Port getProperty and getCSSProperty"

[2018-05-14 08:36] christian-bromann opened #68 "Implement tag management for all frameworks"
Many people want to run tests having a specific set of tags. In v4 there was no tag detection and if you would use the framework functionality it would spawn up a browser and immediately close it.

Let's implement native support for this.

[2018-05-14 08:37] BorisOsipov commented on #68
am I right, it is related to issue https://github.com/webdriverio/webdriverio/issues/1247 ?

[2018-05-14 09:25] christian-bromann commented on #68
@BorisOsipov yes

[2018-05-14 09:27] christian-bromann commented on #68
I doubt this is possible by using framework native capabilities. However if we could do that it would be amazing and way faster than some sort of file content regex matching.

[2018-05-14 09:35] codecov-io commented on #67
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/67?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/67/graphs/tree.svg?width=650&height=150&token=VJBw9IYlWC&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/67?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/67?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-05-14 21:28] christian-bromann opened #69 "Implement action commands"
## Problem

The action command is hard to use because of the complex parameters. Let's simplify this and port over all action commands like moveToObject or dragAndDrop using the action command.

[2018-05-15 20:35] erwinheitzman commented on #67
Looks good to me

[2018-05-17 08:44] christian-bromann commented on #61
I gonna take over this task.

[2018-05-17 11:34] phil-lgr commented on #61
yea, no free cycles to work on webdriverio this month and june.. After that
I work 32 hours per week for the rest of the summer so I will prob take a
task again..

Thanks Christian

On Thu, May 17, 2018 at 4:44 AM Christian Bromann <notifications@github.com>
wrote:

--
Phil Sent from Mobile

[2018-05-18 11:31] codecov-io commented on #61
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/61?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/61/graphs/tree.svg?src=pr&token=VJBw9IYlWC&width=650&height=150)](https://codecov.io/gh/webdriverio/v5/pull/61?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/61?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-05-24 12:06] christian-bromann opened #71 "Support for multiremote"
Multiremote is an important feature to test cross browser/device interactions in one test. Let's make sure we port this functionality.

[2018-05-30 13:51] fayeezdazn commented on #13
Hey @christian-bromann I'd like to pick this one up.

Do you know which sub packages need moving or if you can point me in the right direction?

[2018-05-30 13:52] christian-bromann commented on #13
@fayeezdazn awesome, thanks!

Check out which [packages](https://github.com/webdriverio/v5/tree/master/packages) don't have any source code yet (e.g. allure-reporter). Currently highest prio would have the wdio-cucumber-framework. After that package is ported we could do an alpha release.

[2018-05-30 13:57] fayeezdazn commented on #13
Okay great, thanks! Shall I create a new ticket to track each package or leave it with this one?

[2018-05-30 14:20] christian-bromann commented on #13
Yeah, for each package create a PR (can be just an empty one at the beginning), e.g. https://github.com/webdriverio/v5/pull/61

[2018-05-30 14:44] ghost commented on #44
Curious what the workaround is for now?  Is everyone using `wdio-webcomponents`?

[2018-05-30 15:09] christian-bromann commented on #61
Thanks @WillBrock

[2018-06-01 01:38] junguchina commented on #44
@luckyincode No, I still not use `wdio-webcomponents`.

[2018-06-12 18:11] kmnaid commented on #66
@christian-bromann : Is there validation of capabilities currently? If so which file is the check in? I wasn't able to locate it.
Some references to start working on this would be helpful.

[2018-06-13 09:23] christian-bromann commented on #66
I guess a good start is https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/utils.js#L76 I can see it being implemented somewhere else in the `webdriver` package. I think there isn't necessary this one position where it should implemented.

[2018-06-20 08:39] christian-bromann opened #75 "Allow cli input when running debug command"
## The problem

Our cli interface is not allowing to do any inputs if wdio testrunner is running.

[2018-06-20 11:31] christian-bromann opened #76 "Allow to access global client variable via "browser" and "driver""
## The problem

The global variable to access the WebdriverIO instance used to be `browser` within the last versions. This is too specific given that you can automate native mobile applications as well.

## Proposed solution

Allow user to also use `driver` as another option.

[2018-06-21 11:20] codecov-io commented on #69
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/69?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/69/graphs/tree.svg?width=650&token=VJBw9IYlWC&height=150&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/69?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/69?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-06-22 08:55] cheungkayip commented on #44
@luckyincode and @junguchina
Did you get wdio-webcomponents to work with multi remote (I couldn't really get it to work)
everything starts with browser.getText('') or browser.setValue('') instead of browser.element('your-element')
I've tried doing myChromeBrowser en myFirefoxBrowser in the wdio.conf.js but it seems it responds differently than the original WebdriverIO implementation.

so i'm only

[2018-06-22 09:08] christian-bromann commented on #44
This is not the right place for this question. Please join the [![Gitter](https://badges.gitter.im/webdriverio/webdriverio.svg)](https://gitter.im/webdriverio/webdriverio?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) channel.

[2018-06-22 09:16] christian-bromann commented on #59
any updates?

[2018-06-24 08:00] andriilazebnyi commented on #59
@christian-bromann Sorry, didn't have time to work on it. Will try to finish on next week.

[2018-06-24 12:16] christian-bromann commented on #59
ref https://github.com/FloValence/wdio-concise-reporter/issues/3

[2018-06-26 09:21] #48 closed

[2018-06-26 09:32] #76 closed

[2018-06-27 10:46] christian-bromann commented on #71
initial multiremote implementation works, e.g. using the following script:
[code]

[2018-07-02 20:44] christian-bromann opened #80 "Tests give me an error when wdio-mocha-framework and wdio-spec-reporter were updated to 5.0.0-alpha.7"
_From @JulsRicketti on June 29, 2018 19:25_

## The problem
Can't run my tests after update for `wdio-mocha-framework` and `wdio-spec-reporter` were updated to `5.0.0-alpha.7`

## Environment

* WebdriverIO version: 4.13.1
* Node.js version: 8.9.4
* if wdio testrunner, running synchronous or asynchronous tests: mostly synchronous
* Additional wdio packages used (if applicable):
wdio-mocha-framewor

[2018-07-02 20:44] christian-bromann commented on #80
_From @BorisOsipov on June 29, 2018 19:35_

@JulsRicketti wdio-mocha-framework and wdio-spec-reporter 5.0.0-alpha.7 aren't compatible with WebdriverIO version: 4.13.1. If you want to try it you must use 5.0.0-alpha.6

[2018-07-02 20:44] christian-bromann commented on #80
_From @JulsRicketti on June 29, 2018 19:46_

Now I get this following error:

[code]

Did I miss something else?

[2018-07-02 20:44] christian-bromann commented on #80
_From @BorisOsipov on June 29, 2018 19:50_

what does it mean now? explain what you did

[2018-07-02 20:44] christian-bromann commented on #80
_From @JulsRicketti on June 29, 2018 19:51_

Sorry, I meant I did what you proposed me to do so, so changed `webdriverio` to `5.0.0-alpha.6` and this is the new error I got.

[2018-07-02 20:44] christian-bromann commented on #80
_From @BorisOsipov on June 29, 2018 19:54_

Thanks, we will need to have look into this.
Please, share your package.json or example project on github.

[2018-07-02 20:44] christian-bromann commented on #80
_From @JulsRicketti on June 29, 2018 20:0_

I'll have to create an example project later today. For now, here is how my `package.json` looks:

[code]

[2018-07-02 20:44] christian-bromann commented on #80
v5 is on alpha and not stable yet meaning that we will publish packages constantly and will definitely break things. Once we go into beta you should expect to have it running stable. Please don't use v5 yet since a lot of commands have changed and are not documented at all.

[2018-07-04 13:57] christian-bromann commented on #71
latest commit handled element result and its command execution, e.g.:
[code]

[2018-07-05 10:10] christian-bromann opened #81 "wdio 5 could exit with error code, if no files found?"
_From @kajmagnus on January 16, 2018 8:15_

## The problem

wdio exits with status code 0 = all fine, if no files found. But most likely this means the user typed a typo or the wrong file name — because one wouldn't start wdio at all, if one didn't intend to run any tests?

The result is that a few times, I've started wdio as part of an automatic script, and incorrectly believed all tests were OK,

[2018-07-05 10:10] christian-bromann commented on #81
@kajmagnus how are other testrunner behave in that situation?

[2018-07-05 10:10] christian-bromann commented on #81
_From @kajmagnus on July 5, 2018 7:37_

@christian-bromann   The testrunner, that's `./node_modules/.bin/wdio`?

Or do you mean "test runner framework", like Jasmine and Cucumber and Mocha?
Or maybe test-result-reporter?

Should I try with different  `framework: 'mocha',`  and `jasmine` and `cucumber` etc combinations, or maybe different reporters? like different: `reporters: ['dot', 'allure'],`

[2018-07-05 10:10] christian-bromann commented on #81
@kajmagnus would you mind providing a patch to exit the testrunner if no specs were found?

[2018-07-05 11:20] kajmagnus commented on #81
@christian-bromann Ok yes I can do that ... and not sure about when, maybe this weekend :- )  let's hope

[2018-07-06 03:39] kajmagnus commented on #81
@christian-bromann Oh now I read your comment again ... And I misread it the first time.  For some reason, I read it as "creating a repo for reproducing the issue", and did't see "providing a patch", how weird.

I had a look at the wdio v5 source ... and, I'll be working the whole weekend with a project I'm developing, no time to look closer at v5 and how to "catch" no-tests-found.  ... I did crea

[2018-07-06 12:23] christian-bromann commented on #71
Last commits enabled to run multiremote with wdio testrunner. I made sure that known issues get fixed, e.g. spec reporting now looks like:

![screen shot 2018-07-06 at 14 21 58](https://user-images.githubusercontent.com/731337/42378567-010f7582-8128-11e8-8315-ee28eed22a84.png)

And wdio-sauce-service reports multi remote sessions correctly, given following caps:

[code]
it will update as follows:

[2018-07-07 10:21] christian-bromann opened #82 "Port wdio-cucumber-framework"
## Questions to answer

1. Do cucumber background steps run before or after wdio hooks? (note that they run before cucumber hooks) (source: background.feature)

For Cucumber we have defined special hooks anyway which are the following:

- beforeFeature
- beforeScenario
- beforeStep
- afterStep
- afterScenario
- afterFeature

I could imagine to add:

- beforeBackground
- afterBackground

 2. Is it

[2018-07-09 08:06] andriilazebnyi commented on #59
Done in https://github.com/webdriverio/v5/pull/83

[2018-07-09 08:06] #59 closed

[2018-07-09 12:07] christian-bromann commented on #71
This last patch is probably a bit out of scope for this PR but had to be done anyway. I ported the reload (renamed to reloadSession) command and made sure it works with service hooks and when running multiremote mode:

![screen shot 2018-07-09 at 14 07 28](https://user-images.githubusercontent.com/731337/42449574-7524339e-8381-11e8-9f72-e1c5e75e9535.png)

[2018-07-09 12:17] christian-bromann opened #85 "Implement a request queue to avoid having to many parallel requests"
Due to high demand: let's ensure that we handle parallel requests to browser driver gracefully by either having:

- only allowing `n` number of requests at a time
- or retry requests that have failed that way

I would prefer first approach being implemented in `/packages/webdriver/src/request.js`

ref: webdriverio/webdriverio#2406

[2018-07-10 10:01] codecov-io commented on #71
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/71?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/71/graphs/tree.svg?token=VJBw9IYlWC&width=650&height=150&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/71?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/71?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-07-10 10:09] christian-bromann commented on #80
Redeployed all packages that had v5 alpha as latest tag

[2018-07-10 10:09] #80 closed

[2018-07-10 11:38] christian-bromann commented on #85
After looking into this I found that the current implemented request handler is already retrying request properly:

<img width="818" alt="screen shot 2018-07-10 at 13 32 19" src="https://user-images.githubusercontent.com/731337/42507550-d4a22564-8445-11e8-864c-14b6e2ff4be3.png">

I will keep this as is for now until we really have to limit the outgoing requests. Also because this appears to be a s

[2018-07-10 11:38] #85 closed

[2018-07-10 12:12] codecov-io commented on #81
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/81?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/81/graphs/tree.svg?token=VJBw9IYlWC&src=pr&height=150&width=650)](https://codecov.io/gh/webdriverio/v5/pull/81?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/81?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-07-10 12:31] christian-bromann opened #86 "Native Support for Typings"
## The problem

Many users are using WebdriverIO with typescript. We should ensure that these people have a first level support for the new object structure and commands.

Support should be added for:
- webdriver
- webdriverio
- any service that adds commands

[2018-07-10 13:38] goofballLogic commented on #82
"For Cucumber we have defined special hooks anyway" - could you point me to the code where these hooks are defined?

[2018-07-10 13:42] goofballLogic commented on #82
2. Is it correct to assume that there is no --exit functionality or that wdio replaces it? (source: exit.feature)
I am not entirely sure what this option in Cucumber is.

Cucumber uses this command line switch "to exit when the test run finishes without waiting to the even loop to drain" (see [exit.feature](https://github.com/cucumber/cucumber-js/blob/master/features/exit.feature))

This might be

[2018-07-10 13:43] goofballLogic commented on #82
I'm going to assume that we just don't support this feature then (see [fail_fast.feature](https://github.com/cucumber/cucumber-js/blob/master/features/fail_fast.feature))

[2018-07-10 13:55] goofballLogic commented on #82
Using the `--no-strict` flag will cause cucumber to succeed even if there are pending steps. (see [strict_mode.feature](https://github.com/cucumber/cucumber-js/blob/master/features/strict_mode.feature))

[2018-07-10 13:55] BorisOsipov commented on #82
Up to you. I guess we may not support this flag.

[2018-07-10 13:56] BorisOsipov commented on #82
Yes because we have bail options.

[2018-07-10 14:06] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-403831009

Current wdio-cucumber doesn't pay attention to strict mode as I know. I see it as nice to have but with low priority.

[2018-07-10 14:13] goofballLogic commented on #82
I am updating https://github.com/goofballLogic/v5/blob/cucumber-framework/packages/wdio-cucumber-framework/docs/design/important-features.md with these answers.

Only remaining is (1) above and:

[2018-07-10 14:14] BorisOsipov commented on #82
they are defined in wdio config. See
https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/constants.js#L63

and in old framework executed by https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/hookRunner.js

[2018-07-10 14:16] BorisOsipov commented on #82
I could advice dont do that. As I remember cucumber handles background steps as part of scenario steps. It follows cucumber philosophy and we probably should change it.

[2018-07-10 14:19] christian-bromann commented on #82
features are basically like spec files in Mocha and Jasmine and should be treated as "suites"

[2018-07-10 14:20] goofballLogic commented on #82
Yeah, cucumber doesn't have a structure which maps to a predictable hierarchy such as these hooks suggest. Are we sure that building cucumber's structure into wdio is a good idea? (e.g. will we also add wdio hooks for Examples, and wdio hooks for cucumber's native hooks?)

[2018-07-10 14:21] christian-bromann commented on #82
I don't see a reason why not. There are certainly scenarios where this can be useful.

What are Cucumber's native hooks?

[2018-07-10 14:23] goofballLogic commented on #82
The difference from a Mocha suite is that (as far as I'm aware) you don't describe the suite using a paragraph of text. Options for reporting include:
1. Only display the file name of the feature
2. Display the title of the feature
3. Display the title and the description of the feature

[2018-07-10 14:24] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-403840256

Cucumber has its own hooks https://github.com/cucumber/cucumber-js/blob/master/docs/support_files/hooks.md
Actually we duplicate it with our cucumber wdio specific hooks.

[2018-07-10 14:25] goofballLogic commented on #82
Before, After, BeforeAll, AfterAll
Plus all of the above can be further narrowed using tags

[2018-07-10 14:26] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-403840942

Currently we have "Display the title of the feature". It emits with SUITE event when feature file starts.
We may add "description of the feature" to custom field of suite event but I guess it now is not important.

[2018-07-10 14:27] goofballLogic commented on #82
From the discussion above, I'm sensing that the intent is to provide basic functionality, but not to support the cucumber variants of functionality included in wdio? This means we support someone writing a set of tests from scratch, but not someone porting a large existing suite of tests from Cucumber. Is that more-or-less correct?

[2018-07-10 14:39] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-403842432

It up to you and depends on your availability to help with this.

I see cucumber test suite nice and if you see how use\port it, I don't see any reason to reuse them

[2018-07-10 14:39] christian-bromann commented on #82
I am happy to support both. WDIO hooks are important for wdio services to work properly across frameworks.

Right. Reporters can either use this information or not.

It would be awesome to support as much as possible. That being said, I see a lot of overlaps between cucumber and wdio functionalities where we can leave out the cucumber specific functionality.

I rather prefer to have something basi

[2018-07-10 14:41] BorisOsipov commented on #82
+1

[2018-07-10 14:53] goofballLogic commented on #82
ok I'll make decisions going forward by deferring nice-to-have functionality.
By the way, how do I move this task on our project board into "In Progress" ?

[2018-07-10 14:56] christian-bromann commented on #82
Just added you to the project committers team. It should work now!

[2018-07-10 15:39] goofballLogic commented on #82
Hmm. Can't seem to do anything new. Should I be able to drag the card? Or is it by assigning a label or something?

[2018-07-10 15:41] christian-bromann commented on #82
Yes! Let me double check the settings.

[2018-07-10 15:42] christian-bromann commented on #82
@goofballLogic I think you need to accept the invite first

[2018-07-11 12:41] goofballLogic commented on #82
I note that the reporter included in the https://github.com/webdriverio/cucumber-boilerplate project doesn't actually report if you are on a "Given", "When", "Then", "And" or "But" step, and I don't see anything in https://github.com/webdriverio/wdio-cucumber-framework which was exposing that data in the past. Is this something we can add going forward? Either by including the word as part of the

[2018-07-11 12:46] christian-bromann commented on #82
Afaik the wdio-cucumber-framework treated steps (no matter if Given, When, Then etc) as "tests" (like in Mocha an "it" block). I think we can keep this to have a similar reporting behavior in Cucumber. We can however add the information which steps was executed.

I think latter one would work. No strong opinion on this though.

[2018-07-11 12:55] goofballLogic commented on #82
I also note that the cucumber-boilerplate reporter reports all Scenarios with an additional level of indenting (like they were Mocha-style nested "describe" blocks) but in Cucumber, each Scenario is a stand-alone test case with no pre-cursors (other than e.g. Background steps). Is that just an idiosyncrasy of the reporter we included, or is there a misalignment of the concepts?

[2018-07-11 12:58] goofballLogic commented on #82
Reading the https://github.com/webdriverio/v5/tree/master/packages/wdio-reporter I see a lot of events listed which are exposed to reporters. However, this list doesn't include all the "hooks" listed in https://github.com/webdriverio/v5/blob/master/packages/wdio-config/src/constants.js#L63 (notably the ones listed as "cucumber specific hooks"). Is the intent to add those, or am I mis-reading the c

[2018-07-11 13:00] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-404158847

It depends on reporter implementation. You may don't care about how reporter display test\hooks events data

[2018-07-11 13:04] BorisOsipov commented on #82
https://github.com/webdriverio/v5/issues/82#issuecomment-404159676

I think no. Any hook should fire onHookStart\onHookEnd events. We don't separate them to classes BefforeAll\BeforeFeature\etc

@christian-bromann am I right?

[2018-07-11 13:06] christian-bromann commented on #82
This might be even a bug

The one are events that are propagated to reporters the others are hooks that allow customer to act on certain events within the lifecycle of the test.

I am not sure if this is actually the behavior in v4. I can't find a line of code where this event is fired. Not sure if such event would be useful.

[2018-07-11 13:25] goofballLogic commented on #82
Ok, so I'll focus on raising the test:start/pass/fail/pending/end. However, for my own edification - how would the listed "cucumber-specific hooks" ever get raised?

[2018-07-11 13:27] christian-bromann commented on #82
In the old implementation we had a [hookRunner](https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/hookRunner.js) that used the Cucumber eventbroadcaster ([ref](https://github.com/webdriverio/wdio-cucumber-framework/blob/master/lib/adapter.js#L60-L62))

[2018-07-11 19:55] erwinheitzman commented on #86
Wil be a challenge for me but I will look into this

[2018-07-11 20:51] christian-bromann commented on #86
@erwinheitzman always good to take challenges 😉

I put some thinking into this. The types have to be maintained here:

- https://www.npmjs.com/package/%40types%2Fwebdriver (does not exist yet)
- https://www.npmjs.com/package/%40types%2Fwebdriverio

I think what we should do is to build a script that can generate the type definitions for the webdriver package based on the protocol json files and th

[2018-07-12 08:02] kajmagnus commented on #81
Thanks for fixing this / making this change

[2018-07-15 09:10] BorisOsipov opened #88 "Runner crashes without stacktrace when you do process.send() in test"
## The problem

I'm working on https://github.com/webdriverio/v5/issues/14

I've added `process.send({somestuff:"somestuff"})` [to mocha examples in this repo](https://github.com/BorisOsipov/v5/commit/0dccb5603c000dbd30deeaac1b80cd769112d2a5). It leads to crash runner. Worst thing is there are no related logs\stacktrace anywhere.

## Environment
* WebdriverIO version: v5.0.0-alpha.10
* Node.js ver

[2018-07-15 10:14] christian-bromann commented on #88
You probably have no reporter set. This is definitely not ideal. If you use the spec reporter you should see something.

[2018-07-15 10:28] BorisOsipov commented on #88
There is declared `spec` reporter in config https://github.com/BorisOsipov/v5/blob/process_send_crash/examples/wdio/mocha/wdio.conf.js#L31

[2018-07-15 11:02] christian-bromann commented on #88
Then the error is not propagated in the interface correctly

[2018-07-15 11:17] BorisOsipov opened #89 "wdio-spec-reporter@5.0.0-alpha.10 crashes with "Cannot find module 'source-map-support'""
## The problem
I continued to play v5.
I installed
[code]
and when I ran test I got error:
[code]

repo to reproduce issue - https://github.com/BorisOsipov/wdio-spec-alpha-issue

## Environment

* WebdriverIO version: 5.0.0-alpha.10
* Node.js version: v8.11.3
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synch

[2018-07-15 11:23] BorisOsipov commented on #89
when I install `npm i source-map-support` and reran tests I got -

[code]

[2018-07-15 11:41] christian-bromann commented on #89
Interesting, taking a look. Thanks for testing!

[2018-07-16 08:49] christian-bromann commented on #88
Can you see anything in the logs? I was not able to reproduce doing:

[code]

[2018-07-16 08:52] christian-bromann commented on #89
The wdio command moved to `wdio-cli` which is missing in your setup. In order to use latest v5 do:

[code]
then run the wdio wizard and make sure all packages are installed in their alpha version:
[code]

[2018-07-16 08:52] #89 closed

[2018-07-16 08:52] BorisOsipov commented on #88
Did you miss to add these changes https://github.com/BorisOsipov/v5/commit/0dccb5603c000dbd30deeaac1b80cd769112d2a5 or miss in your message?

[2018-07-16 08:54] BorisOsipov commented on #89
Ok I will check. thanks

[2018-07-16 08:55] christian-bromann commented on #88
No I missed it , let me try

[2018-07-16 08:57] christian-bromann commented on #88
Ok, now I was able to reproduce it. Preparing a fix.

[2018-07-16 12:31] WillBrock opened #90 "spec and suite command line argument string vs. array"
## The problem

When running something like the following command with spec set it's running all of the specs in the test directory and not just the one specified. In wdio-cli/src/config.js the spec, suite and maybe reporters are set to an array but the code is looking for it to be a string in ConfigParser.js. In v4 they are a string and is split on commas.

Is it intended to have the spec and sui

[2018-07-16 12:34] christian-bromann commented on #90
mhm .. not sure. We could keep it like in v4 where you would do:

[code]

or we change it to expect:

[code]

I would almost say the second approach is better. Now is the chance to implement this properly.

[2018-07-16 12:39] WillBrock commented on #90
I like the second approach too. I'll submit a PR.

[2018-07-16 22:15] WillBrock opened #92 "Port selenium standalone service"
## The problem

Port over the selenium standalone service.

[2018-07-17 11:37] #90 closed

[2018-07-17 11:39] christian-bromann commented on #88
@BorisOsipov I made your issue to my PR .. currently wip .. will let you know once done

[2018-07-17 12:08] christian-bromann commented on #88
Ok, I made some logging improvements. Based on whether `logDir` is set in the wdio.config the test runner behaves as follows:

## With `logDir` set in the config

Based on the number of workers 1 + (2 * n) files are created, "n" being the number for workers. Given only run browser is running, it creates:

__wdio.log__
[code]

__wdio-0-0.log__
[code]
and `wdio-0-0-{type}.log` depending on which log

[2018-07-17 22:13] erwinheitzman commented on #86
@christian-bromann definitely 👍

Seems like a good idea to implement it using a build script like you suggested but I do think this is a lot easier for the webdriver package then for the webdriverio package as the webdriverio package does not have any protocol json files as far as I know.

Are you familiar with anything that can aid me with this or is this something that needs to be written from s

[2018-07-18 09:33] christian-bromann commented on #86
We can and we should. Every command has a comment section that describes the functionality and its parameters. By using [`dox`](https://www.npmjs.com/package/dox) we can just parse every file and get the same information from the markdown that exist in the protocol json files.

[2018-07-18 11:42] christian-bromann commented on #88
@BorisOsipov would you mind taking a look at this PR?

[2018-07-18 11:48] codecov-io commented on #88
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/88?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/88/graphs/tree.svg?width=650&token=VJBw9IYlWC&height=150&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/88?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/88?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-07-18 13:01] BorisOsipov commented on #88
LGTM

[2018-07-18 13:09] BorisOsipov commented on #88
But I have a new question.

In v4 we can communicate with reporter trough `process.send({})`

I mean we can call in test `process.send({event:'custom:testEvent'})` and handle it in reporter eventemitter `on('custom:testEvent', () => console.log('Hooray'))`

Does it work with v5? I've tried it with wdio examples [here](https://github.com/BorisOsipov/v5/commit/02cdd527d217777dfe4a5b03dbb58dea9d18355

[2018-07-18 13:14] christian-bromann commented on #88
@BorisOsipov you could. In v5 reporters live in the same process as the test worker. So in your reporter you could do:

[code]

and trigger the event where ever via `process.emit('some event')

[2018-07-20 13:22] christian-bromann commented on #92
Done by #93

[2018-07-20 13:22] #92 closed

[2018-07-21 22:40] WillBrock commented on #29
@christian-bromann What do you think about using Docusaurus? That could then hook into the CI to auto deploy the website for each release.

To generate the API docs we could maybe also hook into the CI to parse the doc block comments into markdown that Docusaurus could read. I think we'll also need to have some docs on the protocol commands which don't have files anymore. Since the docs for Docusa

[2018-07-22 01:58] webOS101 commented on #29
@WillBrock Docusaurus looks pretty interesting.  I considered it for the docs for our project but it didn't support live components, which isn't an issue with the webdriver.io docs.  I would caution against embedding the docusaurus doc build into the source as it continues to grow in size with each release.  I'll admit my understanding of docusaurus is incomplete but it would increase the repo siz

[2018-07-23 14:56] christian-bromann commented on #29
I double down on Docusaurus .. like the project and it would make it so much easier to deploy doc changes

[2018-07-24 08:58] christian-bromann commented on #29
I will take a stab at it

[2018-07-24 10:16] codecov-io commented on #29
# [Codecov](https://codecov.io/gh/webdriverio/v5/pull/29?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/webdriverio/v5/pull/29/graphs/tree.svg?token=VJBw9IYlWC&width=650&height=150&src=pr)](https://codecov.io/gh/webdriverio/v5/pull/29?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/webdriverio/v5/pull/29?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [

[2018-07-26 12:45] #58 closed

[2018-07-26 15:23] Lodo4ka commented on #80
On same bug on version 4.12.1

[2018-07-26 15:29] christian-bromann commented on #80
@Lodo4ka this is not a bug anymore. I redeployed all packages. You are facing something different.

[2018-07-30 23:53] caoxu2000 commented on #22
Hi @christian-bromann, just want to make sure I understand the requirement for this. As far as I understand this, we want to modify the current config option to be 2 objects: data type and default value? I looked into jest-validate and they use typescript. for v5 do we use TS within es6?

[2018-07-31 08:27] christian-bromann commented on #22
@caoxu2000 after looking into this I feel like we don't really need this anymore. A lot of configs are checked with a function because they have special requirements. I don't think we have that with jest-validate.

[2018-07-31 17:23] caoxu2000 commented on #22
Great! That means I don't have to work on this.  You can close it whenever you get a chance

[2018-08-01 12:57] caoxu2000 commented on #44
Hi Chris, I would like to give this a try. Could you invite me to this?

[2018-08-05 11:13] BorisOsipov opened #109 "Wdio hangs if mocha before hooks throws exception and any reporter is active"
## The problem
If some exception throws in mocha before hooks wdio runner hangs without reporting error.
[code]
## Environment
* WebdriverIO version:5.0.0-alpha.13
* Node.js version:v8.11.3
* [Standalone mode or wdio testrunner](http://webdriver.io/guide/getstarted/modes.html): wdio testrunner
* if wdio testrunner, running synchronous or asynchronous tests: sync
* Additional wdio packages used (if

[2018-08-05 11:16] BorisOsipov commented on #109
I've noticed when I remove all reporters from the config issue disappears.

[2018-08-05 21:23] BorisOsipov commented on #14
https://github.com/webdriverio/v5/pull/108

[2018-08-06 12:45] christian-bromann commented on #14
Closing in favor of #108

[2018-08-06 12:45] #14 closed

[2018-08-06 19:32] pmerwin opened #110 "Example tests are not running"
## The problem

After setting up the repo per https://github.com/webdriverio/v5/blob/master/CONTRIBUTING.md, and making sure the npm run test step is working:

Test Suites: 90 passed, 90 total
Tests: 500 passed, 500 total
Snapshots: 0 total
Time: 86.877s
Ran all test suites.

Try and run an example test like

cd ../wdio5/v5/examples/wdio
npm run test:multiremote

result is:

[code]

## Environment

[2018-08-06 19:52] pmerwin commented on #110
I needed to add

[code]

to the config for the test, I will look at adding that info to the docs

[2018-08-06 19:52] #110 closed

[2018-08-10 12:26] christian-bromann commented on #29
I am done with the general design and command doc auto-generation. Next step is publishing, then it is ready for review.

[2018-08-14 10:59] diego-fernandez-santos commented on #44
I have a polymer application which I currently test in shady mode. I would like to be able to test my application in shadow mode without have to change my app selectors.

With the current version of wdio-webcomponents I have to change the selectors because I have to add the selectors of the parent web components.

I think this make my tests flakier because any change in the web-components hierarch

[2018-08-14 13:38] osmolyar opened #112 "Allure report Jenkins plugin doesn't distinguish among versions of same browser"
## The problem

With a Jenkins run with tests recorded as being run on both IE10 and IE11 in the Jenkins report, the Allure plugin-generated report attached to the same Jenkins job only reports the tests as run once, on 'internet explorer'

Moving from graveyard repository:
https://github.com/webdriverio-boneyard/wdio-allure-reporter/issues/131

## Environment

* WebdriverIO version: 4.6.2
* Node.

[2018-08-14 14:38] christian-bromann commented on #112
@osmolyar this is not the place for bugs yet. We will go over the all issues of boneyard projects as part of the deprecation process.

[2018-08-14 14:38] #112 closed

[2018-08-14 14:40] osmolyar commented on #112
@christian-bromann , just so I understand correctly, is wdio-allure-reporter being deprecated?  (@BorisOsipov  is already addressing the original issue #131)

[2018-08-14 15:08] BorisOsipov commented on #112
@osmolyar

Yes it is. I backport some fixes from v5 to webdriverio-boneyard/wdio-allure-reporter if I will have time

[2018-08-14 15:29] BorisOsipov opened #113 "Add webdriverio-boneyard/wdio-allure-reporter/pull/133 to v5"
https://github.com/webdriverio-boneyard/wdio-allure-reporter/pull/133

[2018-08-14 15:42] christian-bromann commented on #112
Just the code .. the reporter will of course still be around

[2018-08-14 23:31] id4automation commented on #68
Hiya, Any inputs on this is much appreciated.

[2018-08-15 08:19] christian-bromann commented on #68
@id4automation Please see webdriverio/webdriverio#1247

[2018-08-16 02:25] junguchina commented on #44
@diego-fernandez-santos Good idea！
Now our team use a hack way to locate the elements with current version of web components.

[2018-08-20 21:27] christian-bromann commented on #29
Would someone mind to review: http://webdriver.io-v5.s3-website.eu-central-1.amazonaws.com .. the content is still to be improved but this is the general design.

[2018-08-24 08:47] christian-bromann opened #115 "Implement watch task"
## The problem

Not sure if this is really important but in v4 we had a watch task which was not ported to v5. Let's reevaluate the importance of it and implement it if we see it to be useful.

[2018-08-24 09:18] christian-bromann opened #116 "Debugging not working"
## The problem

Enable to use the debug utilities it should be as simple as passing `--inspect` to the wdio command and then use the `debugger` statement. There still seem to be some issues with connecting the runner process correctly to the DevTools app (Node.js v10). This should be fixed before release.

Eventual docs should be updated if something essential is changing.

[2018-08-24 10:19] christian-bromann commented on #29
I guess this PR is too big to have proper review. Merging this to move project into beta phase where we can reiterate in content and design.

[2018-08-24 11:27] christian-bromann commented on #116
This issue was moved to webdriverio/webdriverio#2856

[2018-08-24 11:27] #116 closed

[2018-08-24 11:28] christian-bromann commented on #115
This issue was moved to webdriverio/webdriverio#2857

[2018-08-24 11:28] #115 closed

[2018-08-24 11:28] christian-bromann commented on #44
This issue was moved to webdriverio/webdriverio#2858

[2018-08-24 11:28] #44 closed

[2018-08-24 11:28] christian-bromann commented on #68
This issue was moved to webdriverio/webdriverio#2859

[2018-08-24 11:28] #68 closed

[2018-08-24 11:28] christian-bromann commented on #113
This issue was moved to webdriverio/webdriverio#2860

[2018-08-24 11:28] #113 closed

[2018-08-24 11:29] christian-bromann commented on #109
This issue was moved to webdriverio/webdriverio#2861

[2018-08-24 11:29] #109 closed

[2018-08-24 11:29] christian-bromann commented on #86
This issue was moved to webdriverio/webdriverio#2862

[2018-08-24 11:29] #86 closed

[2018-08-24 11:36] christian-bromann commented on #13
We moved all packages from the webdriverio org. Done!

[2018-08-24 11:36] #13 closed

[2018-08-24 11:36] christian-bromann commented on #43
This issue was moved to webdriverio/webdriverio#2865

[2018-08-24 11:36] #43 closed

[2018-08-24 11:37] christian-bromann commented on #11
Let's don't build something homegrown and use the community to move forward, e.g. https://github.com/cnishina/webdriver-manager-replacement

[2018-08-24 11:37] #11 closed

[2018-08-24 11:38] christian-bromann commented on #37
Reached the goal 👏

[2018-08-24 11:38] #37 closed

[2018-08-24 11:38] christian-bromann commented on #21
This issue was moved to webdriverio/webdriverio#2866

[2018-08-24 11:38] #21 closed

[2018-08-24 11:41] #6 closed

[2018-08-24 11:42] christian-bromann commented on #15
@fijijavis would love to see the reporter ported to v5! We moved the code to webdriverio/webdriverio#master. Please make a PR there. Thanks!

[2018-08-24 11:42] #15 closed

[2018-08-24 11:42] christian-bromann commented on #63
This issue was moved to webdriverio/webdriverio#2868

[2018-08-24 11:42] #63 closed

[2018-08-24 11:43] christian-bromann commented on #9
This issue was moved to webdriverio/webdriverio#2869

[2018-08-24 11:43] #9 closed

[2018-08-24 11:43] christian-bromann commented on #66
This issue was moved to webdriverio/webdriverio#2870

[2018-08-24 11:43] #66 closed

[2018-08-24 11:43] christian-bromann commented on #75
This issue was moved to webdriverio/webdriverio#2871

[2018-08-24 11:43] #75 closed

[2018-08-24 11:46] christian-bromann commented on #82
Moved issue to master repo.

[2018-08-24 11:46] #82 closed